* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  font-family: 'DM Serif Display', serif;
}
html {
  font-size: 10px;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #eee;
}
h6,label{
  font-family: 'Barlow', sans-serif;
}
p{
  
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
}
img {
  width: 100%;
}

section {
  padding: 6rem 0;
  background-color: #eee;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.main-nav {
  width: 100%;
  height: 10rem;
  padding: 0 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: 2px solid #eee;
  padding: 1rem 2rem;
}

.hamburger-menu {
  height: 5rem;
  width: 5rem;
  background-color: #eee;
  border-radius: 0.4rem;
  box-shadow: 0.5rem 0.5rem 1rem #cacaca, -0.5rem -5rem 1rem #eee;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.hamburger-menu:hover {
  box-shadow: inset 0.5rem 0.5rem 1rem #cacaca, inset -0.5rem -5rem 1rem #fff;
}

.bar {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
  position: relative;
  transition: background-color 0.5s;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #333;
  transition: all 0.5s;
}

.bar::before {
  top: -0.8rem;
}
.bar::after {
  top: 0.8rem;
}
.open .bar {
  background-color: transparent;
}

.open .bar::before {
  top: 0;
  transform: rotate(135deg);
}

.open .bar::after {
  top: 0;
  transform: rotate(-135deg);
}

.nav-list {
  width: 50rem;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #eee;
  transform: translateX(55rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.1);
  z-index: 1500;
  transition: transform 0.5s;
}

.open .nav-list {
  transform: translate(0);
}

.nav-item {
  list-style: none;
  border-bottom: 2px solid crimson;
}
.nav-link {
  text-decoration: none;
  display: block;
  color: #333;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem;
  transition: color 0.5s;
}



.nav-link:hover {
  color: crimson;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("img/bk.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.hero-clipped {
  width: 60%;
  height: inherit;
  background-color: #eee;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  transform-origin: right;
  z-index: 10;
}

.hero-textbox {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  color: #333;
  padding: 1rem;
  z-index: 20;
}

.main-heading {
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
}

.sub-heading {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.cta-btn {
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: crimson;
  padding: 1rem 4rem;
  margin-top: 5rem;
  border-radius: 0.4rem;
  box-shadow: 3px 3px 1rem rgb(0, 0, 0, 0.3);
  position: relative;
}

.cta-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  z-index: -1;
  /* transition: all .5s; */
}

.cta-btn:hover::after {
  transform: scaleX(1.2) scaleY(1.6);
  opacity: 0;
  transition: all 0.5s;
}

@media screen and (max-width: 1400px) {
  .hero-clipped {
    width: 100%;
    height: 75vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
  }
  .logo a {
    color: #333;
    outline: #333;
  }
}

@media screen and (max-width: 760px) {
  .nav-list {
    width: 30rem;
  }
  .main-heading {
    font-size: 4rem;
  }
  .sub-heading {
    font-size: 1.2rem;
  }
  .cta-btn {
    padding: 1rem 2.5rem;
  }
}

@media screen and (max-width: 550px) {
  div.about-details.aos-init.aos-animate {
    margin-left: 0;
  }
  div.about-heading h1 {
    font-size: 4rem;
  }
  div.about-heading h6 {
    font-size: 1.3rem;
  }
  div.about-details p {
    font-size: 1.8rem;
  }
  a.icon-link {
    margin-right: 2em;
  }
  .about-heading h1 {
    font-size: 2rem;
    opacity: 0.3;
  }
  .nav-list {
    display: none;
  }

  .main-heading {
    font-size: 2.5rem;
  }
  .sub-heading {
    font-size: 1rem;
  }
  .cta-btn {
    padding: 3rem;
  }
}

/*start about */
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}
.about-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}
.about-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}
.profile-img {
  flex: 1;
  margin-left: 5rem;
}

.about-details {
  flex: 1;
  margin-left: 10rem;
}

ul.nav-media-list {
  list-style-type: none;
  display: flex;
}

.social-media {
  margin-top: 5rem;
}

.social-media i {
  font-size: 4rem;

  transition: color 650ms;
}
.icon-link i.fab {
  padding: 0 0.1em;
  color: #333;
}


i.fab.fa-github-square:hover {
  color: #b3aa6e;
}
i.fab.fa-twitter-square:hover {
  color: #b3aa6e;
}
i.fab.fa-instagram-square:hover {
  color: #b3aa6e;
}
i.fab.fa-linkedin-in:hover {
  color: #b3aa6e;
}

/*end about */
/*start services */
.my-skills {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.skill h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
}
.icon-container {
  width: 10rem;
  height: 10rem;
  border: 3px solid #e3e9e3;
  background-color: #333;
  margin-bottom: 2rem;
  display: flex;
  transform: rotate(45deg);
}
.icon-container i {
  color: #b3aa6e;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg);
}
/*end services */

/*start reusable*/
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.section-heading {
  text-align: center;
  margin-bottom: 10rem;
}
.section-heading h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color:#333
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}
.section-heading h6 {
  font-size: 1.6rem;
  color: crimson;
  font-weight: 300;
}

.section-heading h1::before,
.section-heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: crimson;
}
.section-heading h1::before {
  width: 10rem;
  height: 4px;
  border-radius: 0rem;
}
/* .section-heading h1::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
} */
.has-margin-right {
  margin-right: 5rem;
}
/*end reusable*/

/*start porfolio*/
.porfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.porfolio-item:last-child {
  margin-bottom: 0;
}
.portfolio-img {
  flex: 1;
}
.potfolio-description {
  flex: 1;
}
.potfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}
.potfolio-description h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.potfolio-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: crimson;
}
.potfolio-description .cta:hover {
  color: #b3aa6e;
}

/*end porfolio*/
.contact {
  background-color: #eee;
}
form {
  width: 70;
  margin: 0 auto;
}
form label {
  font-size: 1.5rem;
}
input,
select,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  border: none;
  outline: #fd57df;
}
input[type="submit"] {
  width: initial;
  background-color: #2f67cd;
  color: #e9e099;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  /* transition: background-color 650ms; */
}
input[typ="subtmit"]:hover {
  /* color: #221e3f; */
  background-color:#e9e099;
}
.copyright {
  width: 100%;
  text-align: center;
  background-color: #333;
  padding: 2rem 0;
  position: relative;
  color: white;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: red;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.up i {
  color: #16162d;
  font-size: 2rem;
  margin: auto;
}

.copyright p {
  font-size: 1.4rem;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
}
